#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
}

.entry-page {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: rgb(196, 194, 194);
  display: flex;
  flex-direction: column;
}

.entry-page img {
  width: 50%;
  margin: auto;
}

.buttons {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  width: 100%;
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: space-evenly;
  background-color: rgb(201, 199, 199);
}

.login-page, .register-page {
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: rgb(196, 194, 194);
}

.brand.container img {
  width: 15%;
}

.brand.container {
  width: 20%;
}

.title.container {
  width: 25%;
  justify-content: center;
}

.menu.container {
  width: 30%;
}