#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
}

.entry-page {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: rgb(196, 194, 194);
  display: flex;
  flex-direction: column;
}

.entry-page img {
  width: 50%;
  margin: auto;
}

.buttons {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(201, 199, 199);
}

.login-page, .register-page {
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: rgb(196, 194, 194);
}

.brand.container img {
  width: 15%;
}

.brand.container {
  width: 20%;
}

.title.container {
  width: 25%;
  justify-content: center;
}

.menu.container {
  width: 30%;
}

.course-list.container-md {
  margin-top: 5rem;
}

.course-list .mb-4.card {
  padding: 1rem;
}

.course {
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
  display: flex;
}

.course-details {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
}

.item-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.thumbnail {
  width: 120px;
  height: 90px;
}

.playlist div:hover {
  cursor: pointer;
}

.dashboard {
  margin-top: 4rem;
}

.dashboard h2 {
  text-align: center;
}

.dashboard-cards {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard-cards .card {
  padding: 1rem;
  margin: 1rem;
  width: 25rem;
  height: 10rem;
}

.dashboard-cards .card-title.h5:hover {
  cursor: pointer;
}

.dashboard li:hover {
  cursor: pointer;
  border: solid 2px rgb(134, 134, 134);
}

.dashboard li {
  list-style-type: none;
  border: solid 1px rgb(180, 179, 179);
  border-radius: 0.375rem;
  padding: 0.3rem;
  margin-top: 0.2rem;
}

.course-list h2 {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

button {
  margin: 0.2rem;
}

.course-list .card:hover,
.favorites .card:hover,
.browse-courses .card:hover {
  cursor: pointer;
  border: solid 2px rgb(134, 134, 134);
}