#login-page,
#register-page,
#fork-page,
#user-profile {
  text-align: center;
  margin: 2rem auto 3rem auto;
  padding: 2rem;
  width: 20%;
  background-color: rgb(196, 194, 194);
  border-radius: 1.5rem;
  margin-top: 8rem;
}

.buttons {
  margin-top: 1.5rem;
}

h2 {
  margin-bottom: 1rem;
}

.msg {
  color:brown;
  font-weight: 600;
}

#user-profile #user-info {
  text-align: start;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 1.5rem;
}

#user-profile label {
  font-weight: 600;
  
}

#user-profile input,
#user-info p {
  width: 70%;
  margin: 0.8rem 0 0.8rem 0;

}

/*! Does not work */
input:focus {
  outline: none;
  border: none;
  border-width: 0px;
}
