#login-page,
#register-page,
#fork-page,
#userprofile-page {
  margin: 2rem auto 3rem auto;
  border-radius: 1.5rem;
  margin-top: 8rem;
}

#login-page,
#register-page,
#fork-page,
#user-profile {
  text-align: center;
  background-color: rgb(196, 194, 194);
  border-radius: 1.5rem;
  padding: 2rem;
  width: 25%;
}

.buttons {
  margin-top: 1.5rem;
}

h2 {
  margin-bottom: 1rem;
}

.msg {
  color:brown;
  font-weight: 600;
}

#user-profile #user-info {
  text-align: start;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 1.5rem;
}

#user-profile label {
  font-weight: 600;
}

#user-info input,
#user-info p {
  width: 100%;
  margin: 0.8rem 0 0.8rem 0;
}

#user-info p.editable:hover {
  cursor: pointer;
}


/* Responsiveness */
@media (max-width: 1200px) {
  #login-page,
  #register-page,
  #fork-page,
  #user-profile {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  #login-page,
  #register-page,
  #fork-page,
  #user-profile {
    width: 40%;
  }
}

@media (max-width: 800px) {
  #login-page,
  #register-page {
    width: 55%;
  }
}

@media (max-width: 650px) {
  #user-profile,
  #fork-page {
    width: 55%;
  }

  #user-profile {
    font-size: smaller;
  }

  #fork-page .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #fork-page button {
    font-size: x-small;
    width: inherit;
  }

  #fork-page h2 {
    font-size: larger;
  }
}